
:root {
  --wrapper-width: 900px;
}

.wrapper {
  background: lightgray;
  width: var(--wrapper-width);
  height: calc(var(--wrapper-width) * .4 + 20px);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 3rem;
  font-weight: 500;
}


body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.section1 {
  background: lightpink;
  aspect-ratio: 1;
  width: 40%;
}

.section2 {
  width: 58%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.block2 {
  background: lightgreen;
  height: 40%;
}

.row {
  height: 56%;
  display: flex;
  justify-content: space-between;
}
.block3{
  background: rosybrown;
}

.block3,
.block4 {
  width: calc(50% - 10px);
}
.block4{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.block4a,
.block4b {
  background: blueviolet;
  height: calc(50% - 10px);
}
.is-centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px){
  .wrapper{
    background: none;
    flex-direction: column;
    height: max-content;
  }
  .section1,
  .section2{
    width: 100%;
  }
  .section2{
    margin-top: 20px;
  }
  body{
    align-items: unset;
  }
  .row{
    margin-top: 20px;
  }
  .block2.is-centered{
    height: 150px;
  }

}

